streamlit
moviepy
imageio
imageio-ffmpeg
ffmpeg-python
openai-whisper
torch
setuptools
spacy
srt
matplotlib
wordcloud
pydantic
langchain
langchain-google-genai
langchain-huggingface
sentence-transformers
chromadb
argostranslate
