streamlit
moviepy
imageio
imageio-ffmpeg
openai-whisper
ffmpeg-python
spacy
srt
matplotlib
wordcloud
pydantic
langchain
langchain-google-genai
langchain-huggingface
sentence-transformers
chromadb
argostranslate
